<div class="body">
  <div class="container">
    <div class="form-container">
      <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
        <h1>Souscription à un contrat d'assurance</h1>

        <!-- Contract Duration Dropdown -->
        <div class="form-item">
          <label class="label-right">Vous souhaitez vous assurer pour :</label>
          <select formControlName="dureeContrat">
            <option value="1_voyage">1 voyage</option>
            <option value="1_mois">1 mois</option>
            <option value="3_mois">3 mois</option>
            <option value="6_mois">6 mois</option>
            <option value="1_an">1 an</option>
          </select>
          </div>

        <!-- Insurance Type Selection -->
        <div class="checkbox-group">
          <label *ngIf="showAssurerTransport">
            <input type="checkbox" formControlName="assurerTransport" />
            Assurer mon moyen de transport
          </label>
          <label  *ngIf="showAssurerPersonnes">
            <input type="checkbox" formControlName="assurerPersonnes" />
            Assurer d'autres personnes
          </label>
        </div>

        <!-- Vehicle Choices (Visible if 'assurer mon moyen de transport' is selected) -->
    <div class="transport-person-group">
        <div class="transport-options" *ngIf="myForm.get('assurerTransport')?.value">
          <label>
            <input type="checkbox" formControlName="voiture" /> Voiture
          </label>
          <label>
            <input type="checkbox" formControlName="trotinette" /> Trottinette
          </label>
          <label>
            <input type="checkbox" formControlName="bicyclette" /> Bicyclette
          </label>
        </div>

        <!-- Number of people to insure (Visible if 'assurer d'autres personnes' is selected) -->
        <div class="person-input" *ngIf="myForm.get('assurerPersonnes')?.value">
          <label for="nombrePersonnes">Nombre de personnes :</label>
          <input type="number" placeholder="Nombre de personnes" formControlName="nombrePersonnes" />
        </div>
    </div>

    <div class="form-group-horizontal">
        <div class="form-item"  *ngIf="showDebutContrat">
        <label class="label-right">Le contrat débute le </label>
        <input class="form-control" type="date" formControlName="debutContrat" />
        </div>
    

    <div class="form-group-horizontal" *ngIf="showDateAllerRetour">
      <div class="form-item">
        <label class="label-right">Date aller :</label>
        <input class="form-control" type="date" formControlName="dateAller" />
      </div>
      <div class="form-item">
        <label class="label-right">Date retour :</label>
        <input class="form-control" type="date" formControlName="dateRetour" />
      </div>
    </div>

    <div class="form-item">
      <label class="label-right">Numéro de téléphone </label>
      <input type="text" placeholder="Numéro de téléphone" formControlName="numeroTelephone" />
      </div>

  </div>
        <button type="submit" class="mt-2">Estimer le prix</button>
      </form>
    </div>
  </div>
</div>
