/* Général */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f7fa;
    color: #333;
    margin: 0;
    padding: 0;
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  /* Titre principal */
  .text-center {
    text-align: center;
  }
  
  /* Sections */
  h2, h3, h4 {
    color: #333;
  }
  
  h3 {
    color: #4CAF50;
  }
  
  /* Liste des informations */
  ul.list-group {
    list-style-type: none;
    padding-left: 0;
  }
  
  ul.list-group li {
    background-color: #f1f1f1;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 4px;
    display: flex;
    align-items: center;
  }
  
  ul.list-group li i {
    color: #4CAF50;
    margin-right: 10px;
  }
  
  /* Case à cocher */
  input[type="checkbox"] {
    margin-right: 10px;
  }
  
  /* Boutons */
  button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  /* Lien vers conditions générales */
  a {
    color: #45a049;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  /* Espacements */
  .my-4 {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }
  
  .mt-4 {
    margin-top: 2rem;
  }
  
  .mt-2 {
    margin-top: 1rem;
  }
  
  .mt-3 {
    margin-top: 1.5rem;
  }
  
  /* Style du prix initial */
.initial-price {
  font-size: 18px;
  color: #888; /* Gris clair pour le prix initial */
  text-decoration: line-through; /* Pour donner l'effet barré */
}

.initial-price span {
  font-size: 20px;
  color: #888;
}

/* Style du prix final */
.final-price {
  font-size: 22px;
  font-weight: bold;
  color: #388e3c; /* Vert pour attirer l'attention */
  background-color: #e8f5e9; /* Fond très léger pour mettre en avant le prix final */
  padding: 10px 20px;
  border-radius: 5px;
  display: inline-block;
  margin-top: 10px;
}
