<h1 class="text-center my-4 title">Confirmez Votre Abonnement</h1>

<div class="container">
  <h2 class="text-center my-4 subtitle">Vos Informations</h2>
  <div *ngIf="formData">
    <div *ngIf="formData?.dureeContrat" class="info-item">
      <strong>Durée du Contrat :</strong> {{ formData.dureeContrat }}
    </div>
    <div *ngIf="formData?.debutContrat" class="info-item">
      <strong>Date de Début :</strong> {{ formData.debutContrat }}
    </div>
    <div *ngIf="formData?.destination" class="info-item">
      <strong>Destination :</strong> {{ formData.destination }}
    </div>

    <div *ngIf="formData?.dateAller" class="info-item">
      <strong>Date Aller :</strong> {{ formData.dateAller }}
    </div>
    <div *ngIf="formData?.dateRetour" class="info-item">
      <strong>Date Retour :</strong> {{ formData.dateRetour }}
    </div>

    <div *ngIf="formData?.dateNaissanceSouscripteur" class="info-item">
      <strong>Date de Naissance du Souscripteur :</strong> {{ formData.dateNaissanceSouscripteur }}
    </div>
    <div *ngIf="formData?.numeroTelephone" class="info-item">
      <strong>Téléphone :</strong> {{ formData.numeroTelephone }}
    </div>

    <div *ngIf="formData?.assurerTransport === 'true'" class="info-item">
      <strong>Transport Assuré :</strong> {{ formData.assurerTransport === 'true' ? 'Oui' : 'Non' }}
    </div>

    <div *ngIf="formData?.voiture === 'true' || formData?.trotinette === 'true' || formData?.bicyclette === 'true'" class="info-item">
      <strong>Type de Transport :</strong>
      {{ formData.voiture === 'true' ? 'Voiture' : '' }}
      <span *ngIf="formData?.voiture === 'true' && (formData?.trotinette === 'true' || formData?.bicyclette === 'true')"> & </span>
      {{ formData.trotinette === 'true' ? 'Trotinette' : '' }}
      <span *ngIf="formData?.trotinette === 'true' && formData?.bicyclette === 'true'"> & </span>
      {{ formData.bicyclette === 'true' ? 'Bicyclette' : '' }}
    </div>

    <div *ngIf="formData?.nombrePersonnes > 0" class="info-item">
      <strong>Personnes Assurées :</strong> {{ formData.nombrePersonnes }}
    </div>
    <div *ngIf="formData?.nombrePersonnes > 0">
      <div *ngFor="let accompagnant of formData.accompagnants; let i = index" class="accompagnant-info">
        <strong>Personne {{ i + 1 }} :</strong><br>
        <strong>- Nom :</strong> {{ accompagnant.nom }}<br>
        <strong>- Prénom :</strong> {{ accompagnant.prenom }}<br>
        <strong>- Sexe :</strong> {{ accompagnant.sexe }}<br>
        <strong>- Date Naissance :</strong> {{ accompagnant.dateNaissance }}<br>
      </div>
    </div>
  </div>
</div>

<div class="container mt-4">
  <h3 class="text-center" *ngIf="selectedPlan?.name">Plan {{ selectedPlan.name }}</h3>
  <h4 class="text-center" *ngIf="selectedPlan?.price"><strong class="initial-price">Prix initial : {{ selectedPlan.price }}</strong></h4>
  <ul class="list-group">
    <li *ngFor="let feature of selectedPlan.description.split('\n')" class="list-group-item feature-item">
      <i class="fas fa-check-circle"></i> {{ feature }}
    </li>
  </ul>
</div>

<div class="text-center mt-4">
  <label class="carbon-offset-checkbox">
    <input type="checkbox" [(ngModel)]="carbonOffset" (change)="updatePrice()" />
    Je souhaite compenser mes émissions de carbone <strong>(+5%)</strong> en faisant un don pour un projet de reforestation.
    <a href="javascript:void(0);" (click)="openReforestationDialog()">En savoir plus</a>
  </label>
  <p ><strong class="final-price">Prix final: {{ finalPrice.toFixed(2) }} €</strong></p>
</div>

<div class="text-center mt-4">
  <label class="accept-terms-checkbox">
    <input type="checkbox" [(ngModel)]="acceptTerms" /> J'accepte les
    <a href="javascript:void(0);" (click)="openConditions()">conditions générales et la politique de confidentialité</a>
    et je signe le contrat
  </label>
</div>

<div class="text-center mt-3 mb-5">
  <button class="finalize-btn mt-2" [disabled]="!acceptTerms" (click)="finalizeContract()">Finaliser le Contrat</button>
</div>
