<ng-container *ngIf="isAuthenticated; else publicLayout">

    <ng-container *ngIf="isClient; else conseillerTemplate">
        <app-header></app-header>
        <router-outlet></router-outlet>
    </ng-container>

    <ng-template #conseillerTemplate>
        <div class="wrapper">

            <aside id="sidebar">
                <div class="d-flex">
                    <button class="toggle-btn" type="button">
                        <span class="navbar navbar-toggler-icon"></span>
                    </button>
                    <div class="sidebar-logo">
                        <img class="mt-4" src="assets/img/logo-img.png" style="height: 30px;">
                        <a style="color: #ea8b3e;">MobiSureMoinsDeCO2</a>
                    </div>
                </div>
                <ul class="sidebar-nav">
                    <li class="sidebar-item">
                        <a href="" class="sidebar-link" routerLink="/clients-contracts">
                            <i class="fas fa-file-contract"></i>
                            <span>Contrats des clients</span>
                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a href="" class="sidebar-link">
                            <i class="fas fa-headset"></i>
                            <span>Demandes d'assistance</span>
                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a href="/clients-list" class="sidebar-link">
                            <i class="fas fa-users"></i>
                            <span>Liste des clients</span>
                        </a>
                    </li>
                    <!--<li class="sidebar-item">
                        <a href="" class="sidebar-link collapsed has-dropdown" data-bs-toggle="collapse"
                            data-bs-target="#auth" aria-expanded="false" aria-controls="auth">
                            <i class="fas fa-shield-alt"></i>
                            <span>Auth</span>
                        </a>
                        <ul id="auth" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                            <li class="sidebar-item">
                                <a href="" class="sidebar-link">Login</a>
                            </li>
                            <li class="sidebar-item">
                                <a href="" class="sidebar-link">Register</a>
                            </li>
                        </ul>
                    </li>
                    <li class="sidebar-item">
                        <a href="" class="sidebar-link collapsed has-dropdown" data-bs-toggle="collapse"
                            data-bs-target="#multi" aria-expanded="false" aria-controls="multi">
                            <i class="fas fa-layer-group"></i>
                            <span>Multi Level</span>
                        </a>
                        <ul id="multi" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                            <li class="sidebar-item">
                                <a href="" class="sidebar-link collapsed" data-bs-toggle="collapse"
                                    data-bs-target="#multi-two" aria-expanded="false" aria-controls="multi-two">
                                    Two Links
                                </a>
                                <ul id="multi-two" class="sidebar-dropdown list-unstyled collapse">
                                    <li class="sidebar-item">
                                        <a href="" class="sidebar-link">Link 1</a>
                                    </li>
                                    <li class="sidebar-item">
                                        <a href="" class="sidebar-link">Link 2</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>-->
                    <li class="sidebar-item">
                        <a href="" class="sidebar-link">
                            <i class="fas fa-handshake"></i>
                            <span>Partenaires</span>
                        </a>
                    </li>
                    <!-- <li class="sidebar-item">
                        <a href="" class="sidebar-link">
                            <i class="fas fa-cog"></i>
                            <span>Setting</span>
                        </a>
                    </li> -->
                </ul>
                <div class="sidebar-footer">
                    <a href="" class="sidebar-link" (click)="onLogout()">
                        <i class="fas fa-sign-out-alt"></i>
                        <span>Logout</span>
                    </a>
                </div>
            </aside>

            <div class="main p-3">
                <router-outlet></router-outlet>
            </div>

        </div>
    </ng-template>
</ng-container>

<ng-template #publicLayout>
    <app-header></app-header>
    <router-outlet></router-outlet>
</ng-template>