<h1>Select Your Coverage Plan</h1>
<p>
  Review your options below to find the perfect insurance plan for your journey.
</p>


    <div class="pricing">

      <div class="plan standard">
        <span>Standard Option</span>
        <h2 class="mt-4">Basic</h2>
        <div class="price mb-4">$10/month</div>
        <ul class="features">
          <li><i class="fas fa-check-circle"></i> ASSISTANCE VOYAGE</li>
          <li><i class="fas fa-check-circle"></i> ANNULATION POUR TOUTES CAUSES JUSTIFIÉES</li>
          <li><i class="fas fa-check-circle"></i> FRAIS MÉDICAUX ET D'HÔPITAL</li>
          <li><i class="fas fa-times-circle"></i> BAGAGES VOLÉS, ENDOMMAGÉS, PERDUS</li>
          <li><i class="fas fa-times-circle"></i> PROTECTION JURIDIQUE</li>
        </ul>
        <button>Select</button>
      </div>
      
<div class="p-5"></div>

      <div class="plan popular">
        <span>Most Popular</span>
        <h2 class="mt-4">Pro</h2>
        <div class="price mb-4">$30/month</div>
        <ul class="features">
          <li><i class="fas fa-check-circle"></i> ASSISTANCE VOYAGE</li>
          <li><i class="fas fa-check-circle"></i> ANNULATION POUR TOUTES CAUSES JUSTIFIÉES</li>
          <li><i class="fas fa-check-circle"></i> FRAIS MÉDICAUX ET D'HÔPITAL</li>
          <li><i class="fas fa-check-circle"></i> BAGAGES VOLÉS, ENDOMMAGÉS, PERDUS</li>
          <li><i class="fas fa-check-circle"></i> PROTECTION JURIDIQUE</li>
        </ul>
        <button>Select</button>
      </div>
    
    </div>