.badge {
  padding: 0.5em;
  border-radius: 0.25em;
  font-weight: bold;
}

.status-en-attente {
  background-color: #7b7b7b;
  color: #fff;
}

.status-en-cours {
  background-color: #17a2b8;
  color: #fff;
}

.status-cloturé {
  background-color: #ffc107;
  color: #fff;
}

.status-annulé {
  background-color: #939393;
  color: #fff;
}

/* Priorités */
.priority-urgent {
  background-color: #dc3545;
  color: #fff;
}

.priority-non-urgent {
  background-color: #ffc107;
  color: #343a40;
}

/* Styles pour la boîte de dialogue */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 10px;
  width: 50%;
  max-width: 600px;
  text-align: left;
}

.modal-content h3 {
  margin-top: 0;
}

.close-button {
  background: #4CAF50;
  border-color: #4CAF50;
}

.close-button:hover {
  background: #45a049;
}

