<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liste des Contrats</title>
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container">
        <h1 class="my-4">Mes contrats d'assurance</h1>

        <!-- Filtres -->
        <div class="filters">
            <button (click)="filterContracts('all')" class="filter-btn" [class.active]="activeFilter === 'all'">Tous mes contrats</button>
            <button (click)="filterContracts('actif')" class="filter-btn" [class.active]="activeFilter === 'actif'">Mes contrats en cours</button>
            <button (click)="filterContracts('Résilié')" class="filter-btn" [class.active]="activeFilter === 'Résilié'">Mes contrats résiliés</button>
            <button (click)="filterContracts('terminé')" class="filter-btn" [class.active]="activeFilter === 'terminé'">Mes contrats terminés</button>
        </div>

        <!-- Liste des contrats -->
        <div class="contracts">
            <div *ngIf="filteredContracts.length === 0" class="no-contracts-message">
                <p>
                  <ng-container *ngIf="activeFilter === 'actif'">Vous n'avez aucun contrat actif.</ng-container>
                  <ng-container *ngIf="activeFilter === 'terminé'">Vous n'avez aucun contrat terminé.</ng-container>
                  <ng-container *ngIf="activeFilter === 'Résilié'">Vous n'avez aucun contrat résilié.</ng-container>
                  <ng-container *ngIf="activeFilter === 'all'">Vous n'avez aucun contrat.</ng-container>
                </p>
            </div>

            <div *ngFor="let contract of getPaginatedContracts()" class="contract-card">
                <p class="contract-title"> Contrat Assurance {{ contract.id }}</p>
                <div class="contract-actions">
                    <a class="download-btn" (click)="onDownloadContract(contract.id)">
                        <i class="fas fa-download"></i> Télécharger
                    </a>
                    <!-- bouton résilier est seulement pour les contrats actifs -->
                    <button *ngIf="contract.statut === 'actif'" class="cancel-btn" (click)="onResilierContrat(contract.id)">Résilier</button>
                </div>
            </div>
        </div>

        <!-- Pagination -->
        <div class="pagination">
            <button (click)="goToPage(currentPage - 1)" [disabled]="currentPage === 1">Précédent</button>
            <span>Page {{ currentPage }} sur {{ totalPages }}</span>
            <button (click)="goToPage(currentPage + 1)" [disabled]="currentPage === totalPages">Suivant</button>
        </div>
    </div>
</body>
</html>
